html {
    overflow-y: scroll;
    width: 100%;
}

body {
    margin: 0;
    padding: 0 !important;
    width: 100%;
    overflow-x: hidden !important;
}

#root {
    width: 100%;
    display: block;
}

/* Bloquear completamente el padding que SweetAlert agrega */
body.swal2-shown,
body.swal2-height-auto,
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
    padding-right: 0 !important;
    overflow-y: auto !important;
}

.swal2-container {
    padding-right: 0 !important;
}

.swal2-popup {
    margin: auto !important;
}